/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #004e61;
	color: #fffefc;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #e9fcf1;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #008599;
}

.skill-list li::before {
	color: #008599;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

.portuguese-color {
    background-color: #aceda8;
}

.english-color {
	background-color: #b3d0f2;
}

.spanish-color {
	background-color: #ffc794;
}

.dutch-color {
	background-color: #fff2a7;
}

.language-border {
	border-color: #008599 !important;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

